<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_SjQi0DchEembUf2I7ByfRQ" specification="@EventDriven&#xA;@ChildFirstExecution&#xA;&#xA;interface:&#xA;    const T_PHASE1 : integer = 1000&#xA;    const T_PHASE2 : integer = 1000&#xA;    const T_PHASE3 : integer = 1000&#xA;    const T_PHASE4 : integer = 1000&#xA;    const T_PHASE5 : integer = 1000&#xA;    const T_PHASE6 : integer = 1000&#xA;&#x9;out event tick" name="master_clock">
    <regions xmi:id="_SjRw8zchEembUf2I7ByfRQ" name="Master clock">
      <vertices xsi:type="sgraph:Entry" xmi:id="_SjSYBjchEembUf2I7ByfRQ">
        <outgoingTransitions xmi:id="_SjS_HTchEembUf2I7ByfRQ" target="_SjSYEjchEembUf2I7ByfRQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_SjSYEjchEembUf2I7ByfRQ" name="MoveRequest" incomingTransitions="_SjS_HTchEembUf2I7ByfRQ _BTZLQDcmEembUf2I7ByfRQ">
        <outgoingTransitions xmi:id="_h4DikDchEembUf2I7ByfRQ" specification="after T_PHASE1 ms / &#xA;raise tick" target="_UN2cYDchEembUf2I7ByfRQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_UN2cYDchEembUf2I7ByfRQ" name="CreateAndMoveReply" incomingTransitions="_h4DikDchEembUf2I7ByfRQ">
        <outgoingTransitions xmi:id="_s7lhcDchEembUf2I7ByfRQ" specification="after T_PHASE2 ms / &#xA;raise tick" target="_s7jFMDchEembUf2I7ByfRQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_s7jFMDchEembUf2I7ByfRQ" name="DeleteAndMoveBroadcast" incomingTransitions="_s7lhcDchEembUf2I7ByfRQ">
        <outgoingTransitions xmi:id="_20AbQDclEembUf2I7ByfRQ" specification="after T_PHASE3 ms / raise tick" target="_2z9_ADclEembUf2I7ByfRQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2z9_ADclEembUf2I7ByfRQ" name="ReferenceRequest" incomingTransitions="_20AbQDclEembUf2I7ByfRQ">
        <outgoingTransitions xmi:id="_7PgWMDclEembUf2I7ByfRQ" specification="after T_PHASE4 ms / &#xA;raise tick" target="_7PehADclEembUf2I7ByfRQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7PehADclEembUf2I7ByfRQ" name="ReferenceReply" incomingTransitions="_7PgWMDclEembUf2I7ByfRQ">
        <outgoingTransitions xmi:id="_-wiM8DclEembUf2I7ByfRQ" specification="after T_PHASE5 ms / &#xA;raise tick" target="_-wgXwDclEembUf2I7ByfRQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_-wgXwDclEembUf2I7ByfRQ" name="Query" incomingTransitions="_-wiM8DclEembUf2I7ByfRQ">
        <outgoingTransitions xmi:id="_BTZLQDcmEembUf2I7ByfRQ" specification="after T_PHASE6 ms / raise tick" target="_SjSYEjchEembUf2I7ByfRQ"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_SjRw8DchEembUf2I7ByfRQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_SjQi0DchEembUf2I7ByfRQ" measurementUnit="Pixel">
    <children xmi:id="_SjRw9DchEembUf2I7ByfRQ" type="Region" element="_SjRw8zchEembUf2I7ByfRQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_SjSYADchEembUf2I7ByfRQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SjSYATchEembUf2I7ByfRQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SjSYAjchEembUf2I7ByfRQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_SjSYAzchEembUf2I7ByfRQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_SjSYBzchEembUf2I7ByfRQ" type="Entry" element="_SjSYBjchEembUf2I7ByfRQ">
          <children xmi:id="_SjSYCzchEembUf2I7ByfRQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_SjSYDjchEembUf2I7ByfRQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_SjSYDzchEembUf2I7ByfRQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_SjSYEDchEembUf2I7ByfRQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_SjSYDDchEembUf2I7ByfRQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SjSYDTchEembUf2I7ByfRQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_SjSYCDchEembUf2I7ByfRQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_SjSYCTchEembUf2I7ByfRQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SjSYETchEembUf2I7ByfRQ" x="70" y="20"/>
        </children>
        <children xmi:id="_SjS_EDchEembUf2I7ByfRQ" type="State" element="_SjSYEjchEembUf2I7ByfRQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_SjS_FDchEembUf2I7ByfRQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_SjS_FTchEembUf2I7ByfRQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_SjS_FjchEembUf2I7ByfRQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SjS_FzchEembUf2I7ByfRQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_SjS_GDchEembUf2I7ByfRQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SjS_GTchEembUf2I7ByfRQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_SjS_GjchEembUf2I7ByfRQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_SjS_ETchEembUf2I7ByfRQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_SjS_EjchEembUf2I7ByfRQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_SjS_GzchEembUf2I7ByfRQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SjS_HDchEembUf2I7ByfRQ" x="40" y="80" width="173" height="55"/>
        </children>
        <children xmi:id="_UN4RkDchEembUf2I7ByfRQ" type="State" element="_UN2cYDchEembUf2I7ByfRQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_UN4RlDchEembUf2I7ByfRQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_UN4RlTchEembUf2I7ByfRQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_UN4RljchEembUf2I7ByfRQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_UN4RlzchEembUf2I7ByfRQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_UN44oDchEembUf2I7ByfRQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UN44oTchEembUf2I7ByfRQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_UN44ojchEembUf2I7ByfRQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_UN4RkTchEembUf2I7ByfRQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_UN4RkjchEembUf2I7ByfRQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_UN44ozchEembUf2I7ByfRQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_UN4RkzchEembUf2I7ByfRQ" x="40" y="170" width="173" height="55"/>
        </children>
        <children xmi:id="_s7jFMzchEembUf2I7ByfRQ" type="State" element="_s7jFMDchEembUf2I7ByfRQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_s7jsQDchEembUf2I7ByfRQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_s7jsQTchEembUf2I7ByfRQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_s7jsQjchEembUf2I7ByfRQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_s7jsQzchEembUf2I7ByfRQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_s7jsRDchEembUf2I7ByfRQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s7jsRTchEembUf2I7ByfRQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_s7jsRjchEembUf2I7ByfRQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_s7jFNDchEembUf2I7ByfRQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_s7jFNTchEembUf2I7ByfRQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s7jsRzchEembUf2I7ByfRQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s7jFNjchEembUf2I7ByfRQ" x="40" y="269" width="173" height="55"/>
        </children>
        <children xmi:id="_2z_NIDclEembUf2I7ByfRQ" type="State" element="_2z9_ADclEembUf2I7ByfRQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_2z_NJDclEembUf2I7ByfRQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2z_NJTclEembUf2I7ByfRQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2z_NJjclEembUf2I7ByfRQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2z_NJzclEembUf2I7ByfRQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2z_NKDclEembUf2I7ByfRQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2z_NKTclEembUf2I7ByfRQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2z_NKjclEembUf2I7ByfRQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2z_NITclEembUf2I7ByfRQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2z_NIjclEembUf2I7ByfRQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2z_NKzclEembUf2I7ByfRQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2z_NIzclEembUf2I7ByfRQ" x="313" y="269" width="133" height="55"/>
        </children>
        <children xmi:id="_7PfIEDclEembUf2I7ByfRQ" type="State" element="_7PehADclEembUf2I7ByfRQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_7PfIFDclEembUf2I7ByfRQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7PfIFTclEembUf2I7ByfRQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7PfIFjclEembUf2I7ByfRQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7PfIFzclEembUf2I7ByfRQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7PfIGDclEembUf2I7ByfRQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7PfIGTclEembUf2I7ByfRQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7PfvIDclEembUf2I7ByfRQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7PfIETclEembUf2I7ByfRQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7PfIEjclEembUf2I7ByfRQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7PfvITclEembUf2I7ByfRQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7PfIEzclEembUf2I7ByfRQ" x="313" y="170" width="133" height="55"/>
        </children>
        <children xmi:id="_-wgXwzclEembUf2I7ByfRQ" type="State" element="_-wgXwDclEembUf2I7ByfRQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_-wg-0DclEembUf2I7ByfRQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_-wg-0TclEembUf2I7ByfRQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_-wg-0jclEembUf2I7ByfRQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-wg-0zclEembUf2I7ByfRQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_-wg-1DclEembUf2I7ByfRQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-wg-1TclEembUf2I7ByfRQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_-wg-1jclEembUf2I7ByfRQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_-wgXxDclEembUf2I7ByfRQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_-wgXxTclEembUf2I7ByfRQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_-wg-1zclEembUf2I7ByfRQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_-wgXxjclEembUf2I7ByfRQ" x="313" y="82" width="133" height="55"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SjSYBDchEembUf2I7ByfRQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_SjRw9TchEembUf2I7ByfRQ" fontName="Verdana" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SjSYBTchEembUf2I7ByfRQ" x="220" y="33" width="470" height="375"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_SjTmJDchEembUf2I7ByfRQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_SjTmJjchEembUf2I7ByfRQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SjTmJzchEembUf2I7ByfRQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SjTmKDchEembUf2I7ByfRQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_SjTmKTchEembUf2I7ByfRQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SjTmKjchEembUf2I7ByfRQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SjUNMDchEembUf2I7ByfRQ" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_SjRw8TchEembUf2I7ByfRQ" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_SjRw8jchEembUf2I7ByfRQ"/>
    <edges xmi:id="_SjS_HjchEembUf2I7ByfRQ" type="Transition" element="_SjS_HTchEembUf2I7ByfRQ" source="_SjSYBzchEembUf2I7ByfRQ" target="_SjS_EDchEembUf2I7ByfRQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_SjTmITchEembUf2I7ByfRQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SjTmIjchEembUf2I7ByfRQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SjTmIzchEembUf2I7ByfRQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SjS_HzchEembUf2I7ByfRQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SjTmIDchEembUf2I7ByfRQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SjS_IDchEembUf2I7ByfRQ" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C8FAUDcmEembUf2I7ByfRQ" id="(0.27380952380952384,0.48)"/>
    </edges>
    <edges xmi:id="_h4EJoDchEembUf2I7ByfRQ" type="Transition" element="_h4DikDchEembUf2I7ByfRQ" source="_SjS_EDchEembUf2I7ByfRQ" target="_UN4RkDchEembUf2I7ByfRQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_h4EJpDchEembUf2I7ByfRQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_h4EJpTchEembUf2I7ByfRQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_h4EJpjchEembUf2I7ByfRQ" x="-3" y="67"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_h4EJoTchEembUf2I7ByfRQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_h4EJozchEembUf2I7ByfRQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_h4EJojchEembUf2I7ByfRQ" points="[18, 5, 14, -64]$[18, 45, 14, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C8FAUjcmEembUf2I7ByfRQ" id="(0.3872832369942196,0.9090909090909091)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DJfKMDcmEembUf2I7ByfRQ" id="(0.41369047619047616,0.48)"/>
    </edges>
    <edges xmi:id="_s7mIgDchEembUf2I7ByfRQ" type="Transition" element="_s7lhcDchEembUf2I7ByfRQ" source="_UN4RkDchEembUf2I7ByfRQ" target="_s7jFMzchEembUf2I7ByfRQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_s7mIhDchEembUf2I7ByfRQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_s7mIhTchEembUf2I7ByfRQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_s7mIhjchEembUf2I7ByfRQ" x="-4" y="65"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_s7mIgTchEembUf2I7ByfRQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_s7mIgzchEembUf2I7ByfRQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_s7mIgjchEembUf2I7ByfRQ" points="[12, 26, 17, -55]$[12, 75, 17, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_DJfKMTcmEembUf2I7ByfRQ" id="(0.41369047619047616,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ps6pMDclEembUf2I7ByfRQ" id="(0.3815028901734104,0.12727272727272726)"/>
    </edges>
    <edges xmi:id="_20BCUDclEembUf2I7ByfRQ" type="Transition" element="_20AbQDclEembUf2I7ByfRQ" source="_s7jFMzchEembUf2I7ByfRQ" target="_2z_NIDclEembUf2I7ByfRQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_20BpYDclEembUf2I7ByfRQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_20BpYTclEembUf2I7ByfRQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_20BpYjclEembUf2I7ByfRQ" x="1" y="19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_20BCUTclEembUf2I7ByfRQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_20BCUzclEembUf2I7ByfRQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_20BCUjclEembUf2I7ByfRQ" points="[84, 19, -165, 20]$[189, 19, -60, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EzUOwDcmEembUf2I7ByfRQ" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HxIDsDcmEembUf2I7ByfRQ" id="(0.46875,0.48)"/>
    </edges>
    <edges xmi:id="_7Pg9QDclEembUf2I7ByfRQ" type="Transition" element="_7PgWMDclEembUf2I7ByfRQ" source="_2z_NIDclEembUf2I7ByfRQ" target="_7PfIEDclEembUf2I7ByfRQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_7Pg9RDclEembUf2I7ByfRQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7Pg9RTclEembUf2I7ByfRQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7Pg9RjclEembUf2I7ByfRQ" x="-8" y="-64"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7Pg9QTclEembUf2I7ByfRQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7Pg9QzclEembUf2I7ByfRQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7Pg9QjclEembUf2I7ByfRQ" points="[-30, -24, 346, 285]$[-373, -307, 3, 2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_HxIDsTcmEembUf2I7ByfRQ" id="(0.46875,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8mZ3sDclEembUf2I7ByfRQ" id="(0.46875,0.48)"/>
    </edges>
    <edges xmi:id="_-wi0ADclEembUf2I7ByfRQ" type="Transition" element="_-wiM8DclEembUf2I7ByfRQ" source="_7PfIEDclEembUf2I7ByfRQ" target="_-wgXwzclEembUf2I7ByfRQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_-wi0BDclEembUf2I7ByfRQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-wi0BTclEembUf2I7ByfRQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-wi0BjclEembUf2I7ByfRQ" x="-4" y="-71"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-wi0ATclEembUf2I7ByfRQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-wi0AzclEembUf2I7ByfRQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-wi0AjclEembUf2I7ByfRQ" points="[-46, -24, 330, 173]$[-373, -196, 3, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_G4l5MDcmEembUf2I7ByfRQ" id="(0.46875,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GTN7QDcmEembUf2I7ByfRQ" id="(0.52734375,0.48)"/>
    </edges>
    <edges xmi:id="_BTZLQTcmEembUf2I7ByfRQ" type="Transition" element="_BTZLQDcmEembUf2I7ByfRQ" source="_-wgXwzclEembUf2I7ByfRQ" target="_SjS_EDchEembUf2I7ByfRQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_BTZyUTcmEembUf2I7ByfRQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_BTZyUjcmEembUf2I7ByfRQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_BTZyUzcmEembUf2I7ByfRQ" x="-2" y="36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_BTZLQjcmEembUf2I7ByfRQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_BTZyUDcmEembUf2I7ByfRQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_BTZLQzcmEembUf2I7ByfRQ" points="[-24, 2, 270, 4]$[-248, 2, 46, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GTN7QTcmEembUf2I7ByfRQ" id="(0.52734375,0.48)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_C8FAUTcmEembUf2I7ByfRQ" id="(0.27380952380952384,0.48)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
